# IntelliJ IDEA
.idea/
target/

# RStudio
/analysis/*/.Rhistory
/analysis/*/*.tex
/analysis/*/*.log
/analysis/*/*.pdf
/analysis/*/*.gz(busy)
/analysis/*/*.csv
/analysis/*/*.gz
!/analysis/*/*_Analysis.pdf
